.red-50 {
    background-color:#FFEBEE;
    color:#000000;
}

.red-100 {
    background-color:'#FFCDD2';
    color:'black';
}
.red-200 {
    background-color:'#EF9A9A';
    color:'black';
}
.red-300 {
    background-color:'#E57373';
    color:'black';
}
.red-400 {
    background-color:'#EF5350';
    color:'black';
}
.red-500 {
    background-color:'#F44336';
    color:'black';
}
.red-600 {
    background-color:'#E53935';
    color:'black';
}
.red-700 {
    background-color:'#D32F2F';
    color:'black';
}
.red-800 {
    background-color:'#C62828';
    color:'black';
}
.red-900 {
    background-color:'#B71C1C';
    color:'black';
}
.red-a100 {
    background-color:'#FF8A80';
    color:'black';
}
.red-a200 {
    background-color:'#FF5252';
    color:'black';
}
.red-a400 {
    background-color:'#FF1744';
    color:'black';
}
.red-a700 {
    background-color:'#D50000';
    color:'black';
}

.blue-50 {
    background-color:'#E3F2FD';
    color:'black';
}
.blue-100 {
    background-color:'#BBDEFB';
    color:'black';
},
'200':{
    backgroundColor:'#90CAF9',
    color:'black',
},
'300':{
    backgroundColor:'#64B5F6',
    color:'black',
},
'400':{
    backgroundColor:'#42A5F5',
    color:'black',
},
'500':{
    backgroundColor:'#2196F3',
    color:'white',
},
'600':{
    backgroundColor:'#1E88E5',
    color:'white',
},
'700':{
    backgroundColor:'#1976D2',
    color:'white',
},
'800':{
    backgroundColor:'#1565C0',
    color:'white',
},
'900':{
    backgroundColor:'#0D47A1',
    color:'white',
},
'a100':{
    backgroundColor:'#82B1FF',
    color:'black',
},
'a200':{
    backgroundColor:'#448AFF',
    color:'white',
},
'a400':{
    backgroundColor:'#2979FF',
    color:'white',
},
'a700':{
    backgroundColor:'#2962FF',
    color:'white',
},
