@import '../../components/variables.css';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
}
.section {
    display:inline-block;
}
.section-header {
    -webkit-font-smoothing:antialiased;
}
.sectionmain {
    display:inline-block;
    float:left;
    margin-right:16px;
}
.sectionright {
    overflow:hidden;
    -webkit-font-smoothing:antialiased;
    width:auto;
    min-width:300px;
    height:'100%';
    letter-spacing:.1px;
    line-height:24px;
    box-sizing:border-box;
    margin-left:16px;
    margin-right:16px;
}
