@import '../../variables.css';



.button {
    font-size:14px;
    font-weight:500;
    padding-left:16px;
    padding-right:16px;
    height:36px;
    line-height:36px;
    border-radius:2px;
    margin:4px
}

.button i {
    float:left;
    line-height:36px;
    padding-right:8px;
}
.button > * {
    padding-left:8px;
    padding-right:8px;
}
.button * {
    font-size:14px;
    font-weight:500;
    float:left;
}

.icon-button {
    border:none;
    height:100%;
    line-height:100%;
    padding:0px;
}

.icon-button * {
    display:'block';
    vertical-align:middle;
    height:100%;
    line-height:100%;
}

.dense-button {
    font-size:13px;
    height:32px;
    line-height:32px;
    vertical-align:middle;
}

.appbar-button {
    font-size:24px;
    line-height:64px;
    height:64px;
    border-radius:0px;
    border:none;
    margin:0px;
    padding-left:16px;
    padding-right:16px;
}
.appbar-button i {
    line-height:64px;
}
.appbar-button > * {
    float:left;
}
.drawer {
    width:256px;
    top:0px;
    bottom:0px;
    left:0px;
    display:block;
    overflow:hidden;
    position:absolute;
    float:left;
}
.content-area {
   position:absolute;
   display:block;
   overflow-x:hidden;
   overflow-y:auto;
   left:0px;
   right:0px;
   top:0px;
   bottom:0px;
   height:auto;
}
.layer {
    width:100%;
    height:100%;
    padding:0px;
    display:inline-block;
    position:fixed;
    top:0px;
    left:0px;
}
.popover {
    height:auto;
    position:fixed;
    display:inline-block;
    background-color:white;
}
.popover .menu {
    display:block;
}
.menu {
    height:auto;
    display:'inline-block';
    position:relative;
}
.menu-button {
    height:48px;
    font-weight:700;
    line-height:48px;
    padding-left:16px;
    padding-right:16px;
    border-radius:0px;
}
.drawer-header-button {
    height:64px;
    font-weight:500;
    line-height:64px;
    padding-left:16px;
    padding-right:16px;
    border-radius:0px
}
.drawer-header-button i {
    line-height:64px;
    margin-right:16px;
    color:black;
    width:24px;
}
.drawer-header-button * {
    font-weight:400;
    font-size:24px;
    float:left;
}

.menu-button * {
    font-weight:500;
    font-size:13px;
    float:left;
}

.menu-button .menu-button * {
    font-weight:400;
    font-size:13px;
    float:left;
}
.menu-button i {
    line-height:48px;
    margin-right:16px;
    color:black;
    width:24px;
}

.dense-button * {
    font-size:13px;
    font-weight:500;
}
.choice {
    margin-top:4px;
    margin-bottom:4px;
    display:inline-block;
    position:relative;
}
.choice div {
    display:block;
    float:left;
    line-height:16px;
}
.choice-body {
    margin-left:16px;
}

.choice p {
    margin-top:0px;
    margin-bottom:0px;
}
.choice i {
    display:inline-block;
    float:left;
    line-height:16px;
    height:24px;
}

.textfield {
    display:inline-block;
    position:relative;
}
.textfield-hint {
    display:block;
}
.textfield textarea, input {
    background-color:Transparent;
    padding:0px;
    border:none;
    border-radius:0px;
    padding-top:36px;
    padding-bottom:8px;
    width:100%;
    display:block;
    position:relative;
    height:16px;
    line-height:16px;
    font-size:16px;
    resize:none;
    outline:none;
}
.textfield i {
    padding-top:36px;
    padding-bottom:8px;
}
/*.textfield-dense textarea, input {
    background-color:Transparent;
    padding:0px;
    border:none;
    border-radius:0px;
    padding-top:36px;
    padding-bottom:4px;
    width:100%;
    display:block;
    position:relative;
    height:16px;
    line-height:16px;
    font-size:13px;
    resize:none;
    outline:none;
}*/
.textfield textarea:hover, textarea:active, input:hover, input:active, {
    outline:none;
    border:none;
    box-shadow:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
}
.primarytext {

}
.secondarytext {

}
.avatar {

}
.card {
    margin:5px;
    display:inline-block;
    position:relative;
    float:clear;
    height:auto;
    border-radius:2px;
    overflow:hidden;
}

.cardtitle {
    overflow:auto;
    padding-bottom:16px;
}
.cardtitle > div >.primarytext {
    font-size:24px;
    line-height:24px;
    padding-top:24px;
    padding-bottom:0px;
    padding-left:16px;
    padding-right:16px;
}
.cardtitle > div {
    display:inline-block;
}
.cardtitle > div > .secondarytext {
    font-size:14px;
    line-height:14px;
    padding-top:8px;
    padding-left:16px;
    padding-right:16px;
}

.cardtitle > .avatar {
    padding-top:16px;
    padding-left:16px;
    width:40px;
    display:inline-block;
    float:left;
}
.cardtitle > .avatar > img {
    height:40px;
    width:40px;
    border-radius:90px;
}
.cardtitle > .avatar + div > .primarytext {
    font-size:14px;
    line-height:14px;
    padding-top:20px;
}
.cardtitle > .avatar + div > .primarytext + .secondarytext {
    padding-top:4px;
}
.cardtitle-largetitle {
    padding-top:24px;
    padding-bottom:16px;
}
.cardtitle-supportingactionsortext {
    padding-top:16px;
    padding-bottom:16px;
}
.cardtitle-largetitle-supportingactionsortext {
    padding-top:24px;
    padding-bottom:16px;
}

.cardbody {
    padding-left:16px;
    padding-right:16px;
    padding-top:16px;
    padding-bottom:16px;
}

.cardbody > p {
    font-size:14px;
    padding:0px;
    margin:0px;
}

.card > .cardbody:last-child {
    padding-bottom:24px;
}

.card > .cardtitle:last-child {
    padding-bottom:24px;
}

.cardactions {
    padding-left:4px;
    padding-right:4px;
    clear:both;
    display:block;
    overflow:hidden;
    height:44px;
    margin-bottom:4px;
    margin-top:4px;
}
.cardactions > div > .button {
    margin-left:4px;
    margin-right:4px;
    border-radius:0px;
}

.cardactions > .button {
    padding-left:4px;
    padding-right:4px;
}

.cardmedia {
    width:100%;
    display:block;
}

.cardtitle + .cardbody {
    padding-top:0px;
}
