@import '../../variables.css';

.button {
    font-size:14px;
    font-weight:500;
    padding-left:16px;
    padding-right:16px;
    height:36px;
    line-height:36px;
    border-radius:2px;
    margin:4px
}

.button * {
    font-size:14px;
    font-weight:500;
}

.icon-button {
    border:none;
    height:100%;
    line-height:100%;
    fill:white;
    color:white;
    padding:0px;
}

.icon-button * {
    fill:white;
    display:'block';
    vertical-align:middle;
    height:100%;
    color:white;
    line-height:100%;
}

.dense-button {
    font-size:13px;
    height:32px;
    line-height:32px;
    vertical-align:middle;
}

.appbar-button {
    font-size:24px;
    line-height:64px;
    height:64px;
    border-radius:0px;
    border:none;
    margin:0px;
    padding-left:16px;
    padding-right:16px;
}
.appbar-button > * {
    float:left;
}
.drawer {
    width:370px;
    top:64px;
    bottom:0px;
    left:0px;
    display:block;
    overflow:hidden;
    position:absolute;
    float:left;
}
.layer {
    width:100%;
    height:100%;
    padding:0px;
    display:inline-block;
    position:fixed;
    top:0px;
    left:0px;
}
.popover {
    height:auto;
    position:fixed;
    display:inline-block;
    background-color:white;
}
.popover .menu {
    display:block;
}
.menu {
    height:auto;
    display:'inline-block';
    position:relative;
}
.menu-button {
    height:48px;
    font-weight:500;
    line-height:48px;
    padding-left:16px;
    padding-right:16px;
    border-radius:0px;
}

.menu-button * {
    font-weight:500;
}

.dense-button * {
    font-size:13px;
    font-weight:500;
}
.choice {
    display:inline-block;
    position:relative;
}
.choice > * {
    display:block;
    float:left;
}
